 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ "js/jquery-eu-cookie-law-popup.js" | absURL }}"></script>
<link rel="stylesheet" href="{{ "css/jquery-eu-cookie-law-popup.css" | absURL }}"> 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JNG3CSWEQT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JNG3CSWEQT');
</script>