[submodule "codewrecks/themes/kiera"]
	path = codewrecks/themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "codewrecks/themes/minimo"]
	path = codewrecks/themes/minimo
	url = https://github.com/MunifTanjim/minimo.git
