name: publish-on-master

on:
  push:
    branches:
      - master
  workflow_dispatch:
    
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.3'
          extended: true

      - name: Build
        working-directory: ./codewrecks
        run: hugo --minify
        
      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FtpHostName }}
          user: ${{ secrets.FtpUserName }}
          password: ${{ secrets.ftpPassword }}
          localDir: "codewrecks/public"
          remoteDir: "codewrecks.com/wwwroot"
          
#      - name: 'Ping search engines'
#        uses: atymic/sitemap-ping-action@master
#        with:
#          sitemapUrl: 'http://www.codewrecks.com/sitemap.xml'
